<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Lobbies</title>
    <!-- Load jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Load Socket.IO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>

<div id="create_container">
    player_id: <input id="player_id" />
    lobby_details: <input id="lobby_details" />
    <button id="submit_create">Create Lobby</button>
</div>

<div id="join_container">
    player_id: <input id="player_id_join" />
    lobby_id: <input id="lobby_id_join" />
    <button id="submit_join">Join Lobby</button>
</div>

<script>

    function createLobby() {
        let player_id = $("#player_id").val();
        let lobby_details = $("#lobby_details").val();
        let data_to_save = {
            "player_id": player_id,
            "lobby_details": lobby_details
        };

        $.ajax({
            type: "POST",
            url: "/create_lobby",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data_to_save),
            success: function(result) {
                window.location.href = result.redirect_url; // Use the URL from the server response

            },
            error: function(request, status, error) {
                console.log("Error");
                console.log(request);
                console.log(status);
                console.log(error);
            }
        });
    }

    function joinLobby() {
        let player_id = $("#player_id_join").val();
        let lobby_id = $("#lobby_id_join").val();
        let data_to_save = {
            "player_id": player_id,
            "lobby_id": lobby_id
        };

        $.ajax({
            type: "POST",
            url: "/join_lobby",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data_to_save),
            success: function(result) {
                window.location.href = result.redirect_url; // Use the URL from the server response

            },
            error: function(request, status, error) {
                console.log("Error");
                console.log(request);
                console.log(status);
                console.log(error);
            }
        });
    }

    $(document).ready(function() {
        $("#submit_create").click(function() {
            createLobby();
        });

        $("#submit_join").click(function() {
            joinLobby();
        });
    });
</script>

</body>
</html>
