<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Lobbies</title>
    <!-- Load jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Load Socket.IO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>

<body>
  <div>
    <h2>LOBBY ID {{code}}</h2>
    <div class="messages" id="messages">
    </div>  
  </div>
</body>

<script>
  $(document).ready(function() {
    var socketio = io();

    const createMessage = (msg) => {
      const content = `<div>${msg}</div>`;
      $("#messages").append(content);
    };

    socketio.on("message", (data) => {
      createMessage(data.message);
    });

    {% for msg in messages %}
    createMessage("{{msg.message}}");
    {% endfor %}
  });
</script>

